.list-area {
  list-style: none;
}
.list-area li{
  display: inline-block;
}
.list-area li a{
  text-decoration: none;
  padding: 10px 20px;
}
.list-area li .active{
  color: red;
  background-color: beige;
}
.password{
  position: relative;
}
.eye{
  position: absolute;
  right: 0;
}